@model ResumenTrabajadores

@{ 
    List<String> oficios = ViewData["Oficios"] as List<string>;
}

<h1>Index</h1>

<form method="post">
    <label>Oficios trabajadores: </label>
    <select name="oficio" class="form-control">
        @foreach(string oficio in oficios)
            {
                <option value="@oficio">@oficio</option>
            }
    </select>
    <br />
    <button type="submit" class="btn btn-outline-dark">
        Mostrar Trabajadores
    </button>
</form>

@if (Model != null)
{
    <ul class="list-group">
        <li class="list-group-item">
            Suma salarial:@Model.SumaSalarial
        </li>
        <li class="list-group-item">
            Media salarial:@Model.MediaSalarial
        </li>
    </ul>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Apellido
                </th>
                <th>
                    Salario
                </th>
                <th>
                    Oficio
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Trabajadores)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Oficio)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


