@model IEnumerable<ExamenASPÁlvaroMoyaHerraiz.Models.Libro>

@{
    ViewData["Title"] = "Carrito";
}

<h1>Carrito</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Editorial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Portada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resumen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                Quitar
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editorial)
            </td>
            <td>
                <img src="~/images/@item.Portada" style="width:100px;height:150px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resumen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                <a class="btn btn-danger" asp-action="Carrito" asp-controller="Carrito" asp-route-id="@item.IdLibro">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a class="btn btn-success" asp-action="CompraCarrito" asp-controller="Carrito">Comprar</a>
</div>
