@model List<Departamento>

<h1 style="color:blueviolet">Mostrar departamentos</h1>

<table class="table table-bordered table-dark" >
    <thead>
        <tr>
            <th>Numero</th>
            <th>Nombre</th>
            <th>Localidad</th>
            <th>Detalles</th>
            <th>Modificar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Departamento dept in @Model)
            {
        <tr>
            <td>@dept.IdDepartamento</td>
            <td>@dept.Nombre</td>
            <td>@dept.Localidad</td>
            <td> <a asp-controller="Departamentos" class="btn btn-success" asp-action="Details" asp-route-id="@dept.IdDepartamento">Detalles</a></td>
            <td><a asp-controller="Departamentos" class="btn btn-info" asp-action="Edit" asp-route-id="@dept.IdDepartamento">Modificar</a></td>
            <td><a asp-controller="Departamentos" class="btn btn-danger" asp-action="Delete" asp-route-iddepartamento="@dept.IdDepartamento">Eliminar</a></td>
        </tr>
            }
    </tbody>
</table>

<a asp-controller="Departamentos" asp-action="Create">Insertar</a>

