@model IEnumerable<MvcCorePaginacionRegistros.Models.Empleado>

@{
    ViewData["Title"] = "PaginarGrupoEmpleados";
}

@{ 
    int numeroRegistros = 0;
    int numeroPagina = 1;
    if (ViewData["NUMEROREGISTROS"] != null)
    {
        numeroRegistros = (int)ViewData["NUMEROREGISTROS"];
    }
}

<h1>PaginarGrupoEmpleados</h1>

<form method="post">
    <label>Introduzca un oficio: </label>
    <input type="text" name="oficio" class="form-control" />
    <button type="submit" class="btn btn-success">Buscar empleados</button>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (Model != null)
{
<ul class="list-group list-group-horizontal">
    @for (int i = 1; i <= numeroRegistros; i += 3)
    {
        <li class="list-group-item list-group-item-warning">
            <a asp-controller="Departamentos"
               asp-action="PaginarGrupoEmpleados"
               asp-route-posicion="@i"
               asp-route-oficio="@ViewData["OFICIO"]">
                @numeroPagina
            </a>
        </li>
        numeroPagina += 1;
    }
</ul>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdEmpleado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Oficio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salario)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdEmpleado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Oficio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salario)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

