@model Persona

<h1>Informacion recibida</h1>
<h2 style="color:blue">
    Su nombre es @ViewBag.Nombre y su edad es @ViewData["18"]
</h2>
<h2 style="color:blueviolet">@Model.Nombre tiene @Model.Edad años y su correo es @Model.Email</h2>